<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diaryapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".DiaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diaryapp">
        <service
            android:name=".logic.model.MyService"
            android:enabled="true"
            android:exported="true">

        </service>

        <activity
            android:name=".ChangeActivity"
            android:exported="false"
            android:theme="@style/Diarywrite" />
        <activity
            android:name=".EmotionActivity"
            android:exported="false"
            android:label="选择好心情"
            android:theme="@style/Emotionbg" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false"
            android:theme="@style/Diarywrite" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Diarywrite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".logic.model.MyBroadcastRecriver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.diaryapp.logic.model.MY_BROADCAST_RERIVER" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".logic.dao.DatabaseProvider"
            android:authorities="com.example.Diaryapp.provider"
            android:enabled="true"
            android:exported="true"></provider>
    </application>

</manifest>